---
import Classic from "./classic/Classic.astro";
import Premium from "./premium/Premium.astro";
import Signature from "./signature/Signature.astro";


---

<section id="services" class="lg:py-12 pb-4 bg-[#fe67c6]">
  <h1 class="text-3xl font-bold py-28 text-center" > Our Services</h1>
  <Classic />
  <!-- <Signature />
  <Premium /> -->
</section>