---

---

<section id="services" class="text-center text-black my-12 py-20">
  <h2 class="text-4xl font-bold mb-8 pb-20">Our Services</h2>
  <div
    id="accordion-collapse"
    data-accordion="collapse"
    class="flex flex-col md:flex-row justify-center"
  >
    <!-- Acordeón 1 -->
    <div
      class="flex flex-col items-center w-full md:w-1/3 lg:w-1/3 mb-6 md:mb-0 lg:mb-0"
    >
      <h2 id="accordion-collapse-heading-1">
        <button
          type="button"
          class="flex px-4 py-4 rounded-md items-center justify-between w-[300px] lg:w-full gap-2 font-semibold text-gray-700 hover:bg-sky-300"
          data-accordion-target="#accordion-collapse-body-1"
          aria-expanded="true"
          aria-controls="accordion-collapse-body-1"
        >
          <span class="text-xl md:text-3xl font-bold">classic cleaning</span>
          <svg
            data-accordion-icon
            class="w-5 h-5 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-1"
        class="hidden w-full"
        aria-labelledby="accordion-collapse-heading-1"
      >
        <div class="flex flex-col md:flex-row lg:flex-row lg:w-screen p-5 mt-6">
          <div class="w-full md:w-1/2 mb-4 md:mb-0">
            <img
              src="./clean11.webp"
              alt="clean image"
              class="w-full h-auto rounded-md"
            />
          </div>
          <!-- Texto -->
          <div class="w-full md:w-1/2 pl-0 md:pl-4">
            <ul>
              <li>
                <strong>Limpieza general (todas las habitaciones)</strong>
              </li>
              <ul class="ml-4">
                <li>Limpiar el polvo de los muebles</li>
                <li>Limpiar el polvo de aparatos grandes (p. ej., TV)</li>
                <li>Limpiar el polvo a las lámparas</li>
                <li>Limpiar el polvo a los interruptores de la luz</li>
                <li>Barrer o pasar la aspiradora en los suelos</li>
                <li>Vaciar papeleras / basureros</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Acordeón 2 -->
    <div class="flex flex-col items-center w-full md:w-1/3 mb-6 md:mb-0">
      <h2 id="accordion-collapse-heading-2">
        <button
          type="button"
          class="flex px-4 py-4 rounded-md items-center justify-between w-[300px] lg:w-full gap-2 font-semibold text-gray-700 hover:bg-sky-300"
          data-accordion-target="#accordion-collapse-body-2"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-2"
        >
          <span class="text-xl md:text-3xl font-bold">signature cleaning</span>
          <svg
            data-accordion-icon
            class="w-5 h-5 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-2"
        class="hidden w-full lg:mr-[900px]"
        aria-labelledby="accordion-collapse-heading-2"
      >
        <div class="flex flex-col md:flex-row lg:w-screen p-5 mt-6">
          <div class="w-full md:w-1/2 mb-4 md:mb-0">
            <img
              src="./clean22.webp"
              alt="clean image"
              class="w-full h-auto rounded-md"
            />
          </div>
          <!-- Texto -->
          <div class="w-full md:w-1/2 pl-0 md:pl-4">
            <ul>
              <li>
                <strong>Limpieza general (todas las habitaciones)</strong>
              </li>
              <ul class="ml-4">
                <li>Limpiar el polvo de los muebles</li>
                <li>Limpiar el polvo de aparatos grandes (p. ej., TV)</li>
                <li>Limpiar el polvo a las lámparas</li>
                <li>Limpiar el polvo a los interruptores de la luz</li>
                <li>Barrer o pasar la aspiradora en los suelos</li>
                <li>Vaciar papeleras / basureros</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Acordeón 3 -->
    <div class="flex flex-col items-center w-full md:w-1/3 mb-6 md:mb-0">
      <h2 id="accordion-collapse-heading-3">
        <button
          type="button"
          class="flex px-4 py-4 rounded-md items-center justify-between w-[300px] lg:w-full gap-2 font-semibold text-gray-700 hover:bg-sky-300"
          data-accordion-target="#accordion-collapse-body-3"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-3"
        >
          <span class="text-xl md:text-3xl font-bold">Premium Cleaning</span>
          <svg
            data-accordion-icon
            class="w-5 h-5 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-3"
        class="hidden w-full lg:mr-[1800px]"
        aria-labelledby="accordion-collapse-heading-3"
      >
        <div class="flex flex-col md:flex-row p-5 lg:w-screen mt-6">
          <div class="w-full md:w-1/2 mb-4 md:mb-0">
            <img
              src="./clean33.webp"
              alt="clean image"
              class="w-full h-auto rounded-md"
            />
          </div>
          <div class="w-full md:w-1/2 pl-0 md:pl-4">
            <ul>
              <li>
                <strong>Limpieza general (todas las habitaciones)</strong>
              </li>
              <ul class="ml-4">
                <li>Limpiar el polvo de los muebles</li>
                <li>Limpiar el polvo de aparatos grandes (p. ej., TV)</li>
                <li>Limpiar el polvo a las lámparas</li>
                <li>Limpiar el polvo a los interruptores de la luz</li>
                <li>Barrer o pasar la aspiradora en los suelos</li>
                <li>Vaciar papeleras / basureros</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    function toggleContent(contentId) {
      const content = document.getElementById(contentId);
      if (content) {
        content.classList.toggle("hidden");
      }
    }
    document
      .getElementById("h3-general")
      ?.addEventListener("click", () => toggleContent("content-general"));
  </script>
</section>
