---

---

<section
  class="w-full h-96 bg-[url('/hero.jpg')] bg-cover bg-center bg-no-repeat"
  style="background-image: url('/bgclean.webp'); background-size: cover; background-position: center; height: 100vh; "
>
  <div class="flex justify-center items-center w-full p-20 h-full">
    <div class="flex justify-center items-center h-[450px] w-[850px] bg-white">
      <div class="text-center w-full flex flex-col text-black">
        <h1 class="text-4xl font-bold">Stef</h1>
        <p class="">The modern blog</p>
        <p class="">The modern blog</p>
      </div>
    </div>
  </div>
</section>
