---

---

<div class="bg-sky-300 h-32 mb-16 lg:mb-0 overflow-hidden relative">
  <div class="flex animate-scroll space-x-28">
    <img src="/clean.svg" alt="Logo 1" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 2" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 3" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 4" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 5" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 5" class="h-32" />
    <h3 class="text-4xl font-bold items-center flex">Stef</h3>
    <img src="/clean.svg" alt="Logo 5" class="h-32" />
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
</style>
