---

---

<div class="relative bg-white h-40 justify-center overflow-hidden lg:pt-4 pt-8 mb-8 lg:mb-0">
  <div class="flex animate-scroll space-x-28">
    <img src="/producto1.webp" alt="Logo 1" class="h-32   hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto2.webp" alt="Logo 2" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto3.webp" alt="Logo 3" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto4.webp" alt="Logo 4" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto5.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto6.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto7.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto8.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto9.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto10.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto11.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto12.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto13.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto14.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto15.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto16.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto17.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto18.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto19.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto20.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto21.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
    <img src="/StefLogo.webp" alt="Logo 5" class="h-32 rounded-full" />
    <img src="/producto22.webp" alt="Logo 5" class="h-32 hover:animate-pulse" />
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-scroll {
    animation: scroll 30s linear infinite;
    white-space: nowrap;
  }
</style>
