---
const images = [
  "/producto1.webp",
  "/producto2.webp",
  "/producto3.webp",
  "/producto4.webp",
  "/producto5.webp",
  "/producto6.webp",
  "/producto7.webp",
  "/producto8.webp",
  "/producto9.webp",
  "/producto10.webp",
  "/producto11.webp",
  "/producto12.webp",
  "/producto13.webp",
  "/producto14.webp",
  "/producto15.webp",
  "/producto16.webp",
  "/producto17.webp",
  "/producto18.webp",
  "/producto19.webp",
  "/producto20.webp",
  "/producto21.webp",
  "/producto22.webp",
];

---


    <div class="relative bg-white decoration-none h-40 justify-center overflow-hidden lg:pt-4 py-8 lg:mb-0">
      <div class="flex animate-scroll space-x-28">
        {images.map((src, index) => (
          <img
            src={src}
            alt={`Logo ${index + 1}`}
            class="h-32 w-32 object-cover object-center py-2"
          />
        ))}
      </div>
    </div>



<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-scroll {
    animation: scroll 30s linear infinite;
    white-space: nowrap;
  }
</style>
