---

---

<section>
  <div
    class="flex flex-col justify-center items-center h-screen w-full bg-white"
  >
    <h1 class="text-4xl font-bold">contact</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sequi optio
      enim, officiis commodi doloribus tempore possimus quia explicabo odio in
      nemo neque fuga, consequatur quo nesciunt voluptates blanditiis quidem
      unde praesentium voluptatibus fugit! Ullam quas dignissimos beatae
      architecto! Adipisci aperiam voluptatem libero. Cum, laboriosam vel?
      Deserunt, veritatis corrupti? Architecto optio ipsum maiores eius!
    </p>
  </div>
</section>
