---

---

<section>
  <nav class="flex w-[75%] justify-between mx-auto py-9 items-center sticky">
    <a href="/" class="flex gap-4"
      ><img
        src="https://dummyimage.com/150x150/000/fff&text=Stef"
        class="h-10 w-10 rounded-full"
        alt=""
      /><p class="text-2xl">Cleaning Service</p></a
    >
    <div class="flex gap-4">
      <a href="/">Home</a>
      <a href="/blog">Services</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</section>
