---

---

<footer class="w-full px-4 py-12 mx-auto bg-[#e6a6ce]  sm:px-6 lg:px-16">
<div class="w-full h-1 mx-auto bg-[#e7d486] opacity-50 mb-14" ></div>
<div class="flex flex-wrap items-baseline lg:justify-center">
  <span class="mt-2 pr-1 text-sm font-light text-black">made in</span>
      <a href="https://makeyoursee.vercel.app/" class="mt-2 text-xs text-center text-gray-700 justify-center">@MakeYourSelf</a>
      <span class="mt-2 text-center mx-auto text-sm font-light text-black">
        Copyright © 2024
        <a href="/" class="mx-2 text-gray-700 hover:text-gray-500" rel="noopener noreferrer">Stef</a>
      </span>
    </div>
</footer>

