---
import Whatsapp from "@/components/whatsappButton/Whatsapp.astro";


---

<!doctype html>
<html lang='en' class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favi.png" />
    <meta name="generator" content={Astro.generator} />
    <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
  ></script>
    <title>Stef Cleaning</title>
  </head>
  <body>
    <slot />
    <Whatsapp />
  </body>
</html>
